<!doctype html>
<html>
    <head>
        <title>WiKimiF1</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
        <link type="text/css"
              rel="stylesheet"
              href="{{ url_for('static', filename='style.css') }}">
        <script src="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.js"></script>
        <link type="text/css"
              rel="stylesheet"
              href="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.css"/>
        <script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-auth.js"></script>
        <script src="{{ url_for('static', filename='app-setup.js') }}"></script>
    </head>
    <body>
        <div id="login_ui" hidden>
            <div id="firebase-auth-container"></div>
        </div>
        <div id="container">
            <a href="/" style="text-decoration: none;color: black;" id="namesite">
                WiKimiF1
            </a>
            <div id="namepage">
                Welcome to WiKimiF1
            </div>
            <button id="login" hidden="true" class='login-button'>Login</button>
            <button id="sign-out" hidden="true" class="sign-out-button">Sign out</button>
            {% if error_message %}
                <div><pre class="error_message">{{error_message}}</pre></div>
            {% elif success_message %}
                <div><pre class="success_message">{{success_message}}</pre></div>
            {%endif%}
            <div id="login-info" hidden="true" class="indexmenu">
                {% if connected %}
                    <div class="indexsubmenu">
                        <a href="/creator_driver">
                            <div class="btnmenu">Add a driver</div>
                        </a>
                        <a href="/creator_team">
                            <div class="btnmenu">Add a team</div>
                        </a>
                    </div>
                {% endif %}
                <div class="indexsubmenu">
                    <a href="/search_driver">
                        <div class="btnmenu">Search driver</div>
                    </a>
                    <a href="/search_team">
                        <div class="btnmenu">Search team</div>
                    </a>
                </div>
                <div class="indexsubmenu">
                    <a href="/versus_driver">
                        <div class="btnmenu">Compare driver</div>
                    </a>
                    <a href="/versus_team">
                        <div class="btnmenu">Compare team</div>
                    </a>
                </div>
            </div>
        </div>
    </body>
    <footer>
        {% if connected %}
            <p>Thanks for being part of the team</p>
        {% else %}
            <p>Log on and help WiKimiF1 to get more information</p>
        {% endif %}
    </footer>
</html>
